@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

@mixin flex ($direction, $justify, $align, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: $almost-white;
}
.gray-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($medium-gray, .7);
}
header {
    padding: 1.5rem 1rem;
    @include flex(row, space-between, center);
}
.btn-menu {
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 2;

    background: url('../images/icon-menu.svg') no-repeat center;
    border: none;
}

.nav, .submenu {
    display: none;
}
.open {
    display: block;

    &::after {
        transform: rotate(180deg);
    }
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    padding: 5rem 2rem;
    background: white;
    line-height: 2;

    a {
        color: $medium-gray;
    }
}
.nav-links {
    margin-top: 2rem;
    text-align: center;
}
.menu-item {
    @include flex(row, start, center, .2rem);
}
.menu-item::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;

    background: url('../images/icon-arrow-down.svg') no-repeat center;
}
.submenu {
    margin: 1rem;
}
.submenu-img li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;

    background: url('../images/icon-todo.svg') no-repeat center;
}
.submenu-img li:nth-child(2)::before {
    background: url('../images/icon-calendar.svg') no-repeat center;
}
.submenu-img li:nth-child(3)::before {
    background: url('../images/icon-reminders.svg') no-repeat center;
}
.submenu-img li:nth-child(4)::before {
    background: url('../images/icon-planning.svg') no-repeat center;
}
.register {
    padding: .5rem;

    border: 1px solid $almost-black;
    border-radius: 1rem;
}
//main
picture img {
    width: 100%;
}
.text {
    margin: 3rem 1rem;
    @include flex(column, center, center, 1.5rem);
    text-align: center;

    p {
        color: $medium-gray;
        line-height: 1.7;
    }
}
.btn {
    padding: 1rem 2rem;

    border-radius: 1rem;
    background: $almost-black;
    color: $almost-white;
}
.clients {
    width: 100vw;
    @include flex(row, space-around, center);
}

footer {
    padding: 1.5rem 1rem;
    text-align: center;
}